.article{
    width: 80%;
    margin: 28px auto 0 auto;
}

.article_info{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article_info_text>h1{
    color: #1F2533;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.05em;

}

.article_info_text_btn_button{
    border: 1px solid #EFEFEF;
    padding: 11px 33px 11px 33px;
    border-radius: 8px;
    color: #359740;
    background-color: #FFFFFF;
}






